DB_URL=jdbc:postgresql://localhost:5432/givemepic
DB_USERNAME=givemepic
DB_PASSWORD=givemepic_dev_password

JWT_SECRET=O1pwRlovzueoR5JOM2bOtFCRyOUanMGSytpIZNTpPwM
JWT_ACCESS_TOKEN_EXPIRATION_MS=900000
JWT_REFRESH_TOKEN_EXPIRATION_MS=604800000

MINIO_ROOT_USER=givemepic
MINIO_ROOT_PASSWORD=givemepic_dev_password